@mixin fontText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    color: #505353;
}
.header {
    position: absolute;
    height: 150px;
    top: 0%;
    bottom: 0%;
    border: 1px solid;
    background: #ffffff;

    .navbar_style {
        @include fontText;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;

        .style_img {
            position: absolute;
            width: 340.16px;
            height: 70px;
            left: 8.96%;
            right: 67.42%;
            top: 24%;
            bottom: 29.33%;
        }

        .HOME_text {
            position: absolute;
            left: 59.38%;
            right: 37.64%;
            top: 43.33%;
            bottom: 44%;
        }

        .ALL_COURSES_text {
            position: absolute;
            left: 66.18%;
            right: 27.36%;
            top: 43.33%;
            bottom: 44%;
        }

        .LOGIN_REGISTER_text {
            position: absolute;
            left: 76.11%;
            right: 15.83%;
            top: 43.33%;
            bottom: 44%;
        }

        .PROFILE_text {
            position: absolute;
            left: 86.6%;
            right: 9.38%;
            top: 43.33%;
            bottom: 44%;
        }
    }
}
