.header {
    position: relative;
    background: #ffffff;
    height: 125px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-transform: uppercase;
    color: #505353;

    .navbar-style {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;

        .navbar-brand-img {
            margin-left: 85px;
            height: 87px;
            width: 340.15625px;
            border-radius: 0px;
        }
    }

    .header-navbar-collapse {
        margin-right: 100px;
    }

    .navbar-light .navbar-nav .active>.nav-link {
        color: #505353;
    }

    .navbar-light .navbar-nav .active>.nav-link:hover {
        color: #ffffff;
        background: #b2d235;
        border-radius: 17px;
    }

    @media only screen and (max-width: 769px) {
        height: 190px;
    }

    @media only screen and (max-width: 415px) {
        height: 150px;
    }
}


.header-navbar-collapse {
    li {
        margin-right: 20px;
    }
}

.row {
    .be-center {
        @media only screen and (max-width: 769px) {
            padding-left: 128px;
        }
    }
}